body{
	margin: 1px;
}
.top{
	background: black;
	background-size: 100%;
	height: 200px;
	padding: 10px;
	padding-top: 1px;
	position: relative;
}
.top .cajaNombre{
	position: absolute;
    transform: translateX(-50%);
    top: 0%;
    left: 50%;
}
.top .nombreAgencia{
	color: white;
	font-size: 75px;
}
.top .logo{
	height: 200px;
}
.top .cerrarSesion{
	background-color: black;
	border-width: 0px;
	position: absolute;
	transform: translateX(-50%);
	bottom: 10px;
	right: 0px;
	color: white;
	font-weight: bold;
}
.top .perfil{
	background-color: black;
	border-width: 0px;
	position: absolute;
	transform: translateX(-50%);
	bottom: 10px;
	right: 100px;
	color: white;
	font-weight: bold;
}
.middle{
	background: #04155B;
	background-size: 100%;
	height: 700px;
	position: relative;
}
.middle .cajaTusModelos{
	position: absolute;
    transform: translateX(-50%);
    top: -5%;
    left: 15%;
}
.middle .titulo_tusModelos{
	color: grey;
	font-size: 50px;
}
.middle .caja_tabla{
	position: absolute;
	transform: translateX(-50%);
	top: 75px;
	left: 50%;
}
.middle table{
	border: white 1px solid;
	border-collapse: collapse;
}
.middle .fila_fotos{
	height: 200px;
	max-height: 225px;
}
.middle td{
	border: white 1px solid;
	border-collapse: collapse;
	padding: 10px;
	text-align: center;
	align-content: center;
	color: grey;
}
.middle .caja_solicitudes{
	position: absolute;
	transform: translateX(-50%);
	top: 325px;
	left: 10%;
}
.middle .titulo_solicitudes{
	color: grey;
	font-size: 40px;
}
.middle .agregarModelo{
	position: absolute;
	transform: translate(-50%, -50%);
	right: 0%;
	bottom: 0%;
}
.bottom{
	background: black;
	background-size: 100%;
	height: 150px;
}