<html>
	<head>
		<title>Diamond Models Home</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static "style_home.css" %} ">
	</head>
	<body>
		<div class="bodyblock">
			<div class="cajaDiamond"><h1 class="nombreDiamond">Diamond</h1></div>
			<h2 class="titulomarca">Marca</h2>

			<form class="form_loginMarca" method="POST" action="{% url 'marca_login' %}">
				{% csrf_token %}
				<!-- Login Marca -->
				{{ form.as_p }}
				<button type="submit">Login</button>
			</form>


			<h2 class="tituloagencia">Agencia</h2>
			
			<form class="form_loginAgencia" method="POST" action="{% url 'agencia_login' %}">
				{% csrf_token %}
				<!-- Login Agencia -->
				{{ form.as_p }}
				<button type="submit">Login</button>
			</form>


			<div class="cajaModels"><h1 class="nombreModels">Models</h1></div>
			<div class="imghome"><img src="{% static "diamante 2.jpg" %}"></div>
		</div>






	</body>
</html>