<html>
	<head>
		<title>DM - {{agencia.nombre}}</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static "style_mi_agencia.css" %}">
	</head>
	<body>
		<div class="top">
			<div class="cajaNombre"><h1 class="nombreAgencia">{{agencia.nombre}}</h1></div>
			<div class="cajalogo"><img class="logo" src="{% static "logo.jpg" %}"></div>
			<form method="POST" action="{% url 'agencia_logout' %}">
				{% csrf_token %}
				<button type="submit" class="cerrarSesion">Logout</button>
			</form>

			
			<button class="perfil">Perfil</button>
		</div>
		<div class="middle">
			<div class="cajaTusModelos"><h1 class="titulo_tusModelos">Tus Modelos</h1></div>
			<div class="caja_tabla">
				<table class="tabla">
					<tr class="fila_fotos">
						<td><a href="http://google.com"><img src="{% static "logo.jpg" %}" height="200px"></a></td>
					{% for modelo in modelos %}
						<td>{{modelo.edad}}</td>
					{% empty %}
						<p>No hay modelos</p>
					{% endfor %}
					</tr>
					<tr>
						<td><a href="http://google.com" style="text-decoration:none; color:grey">VER TUS MODELOS</a></td>
					{% for modelo in modelos %}
						<td>{{modelo.nombres}} {{modelo.apellidos}}</td>
					{% empty %}
						<p>No hay modelos</p>
					{% endfor %}
						
					</tr>
				</table>
			</div>
			
			<div class="caja_solicitudes"><h1 class="titulo_solicitudes">Solicitudes</h1></div>

			<div class="agregarModelo"><a href="http://google.com"><img src="{% static "mas.png" %}" height="200px"></a></div>
		</div>
		<div class="bottom">
			
		</div>
	</body>
</html>