<html>
	<head>
		<title>Lista Modelos</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'style_lista_modelos.css' %}">
	</head>
	<body>
		<div class="top">
			<h1>Lista de Modelos</h1>
		</div>
		
		<div class="middle">
			<table>
				<tr>
					<th>Modelos</th>
				</tr>
				<tr>
					<td>Modelo 1</td>
					<td>Modelo 2</td>
					<td>Modelo 3</td>
				</tr>
			</table>
			<ul>
				{% for modelo in modelos %}
					<li>{{modelo}}</li>
				{% empty %}
					<p>No hay modelos</p>
				{% endfor %}
			</ul>
		</div>

		<div class="bottom">
			<p>ihybedfvuiedbsgvsvysiysbvizlbviybsviubf</p>
		</div>
		
	</body>
</html>